<nav class="nav  nav--social">
  {% for link in site.social_links %}
    {% if link[1] != blank %}
      {% assign id = link[0] | downcase %}
      <a href="{{ link[1] }}">
        {% include icon.html id=id title=id %}
      </a>
    {% endif %}
  {% endfor %}

  <!-- Google Scholar (manual icon) -->
  <a class = "social_link" 
     href="https://scholar.google.com/citations?user=-waJLfwAAAAJ"
     title="GoogleScholar"
     target="_blank"
     rel="noopener">
    <img src="{{ '/assets/Icons/google-scholar2.png' | relative_url }}"
         alt="GoogleScholar"
         width="24"
         height="24">
  </a>

  <!-- ResearchGate (manual icon) -->
  <a class = "social_link" 
     href="https://www.researchgate.net/profile/Doyal-Kumar-Sarker?ev=hdr_xprf"
     title="ResearchGate"
     target="_blank"
     rel="noopener">
    <img src="{{ '/assets/Icons/RGate.png' | relative_url }}"
         alt="ResearchGate"
         width="24"
         height="24">
  </a>
</nav>
